.default-color0.chart-series-area-line {
    -fx-stroke: #2196f3;
    -fx-stroke-width: 2px;
}

.default-color0.chart-series-area-fill {
    -fx-fill: #2196f3;
    -fx-opacity: 0.3;
}
.default-color1.chart-series-area-line {
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.default-color1.chart-series-area-fill {
    -fx-fill: white;
    -fx-opacity: 0.3;
}
.chart {
    -fx-padding: 10px;
}

.chart-plot-background {
    -fx-background-color: transparent;
}


.chart-legend {
    -fx-background-color: transparent;
}

.chart-legend-item-symbol {
    -fx-background-radius: 0;
    -fx-padding: 5px;
}

.axis-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.axis-tick-label {
    -fx-font-size: 12px;
}